Source: rotorinfo
Maintainer: Roopesh O R<roopeshor3@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13), qt6-base-dev (>=6.8.2), qt6-serialport-dev (>=6.8.2)

Package: rotorinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connects to Arduino that sends rotory encoder's output, processes it and shows details of angle of rotor, etc.